* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

@font-face {
    font-family: 'PPMori';
    src: url('./fonts/PPMori-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PPMori ExtraLight';
    src: url('./fonts/PPMori-Extralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PPMori ExtraLightItalic';
    src: url('./fonts/PPMori-ExtralightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PPMori SemiBoldItalic';
    src: url('./fonts/PPMori-SemiBoldItalic.otf') format('opentype');
    
}
@font-face {
    font-family: 'ConeriaScriptDemo';
    src: url('./fonts/ConeriaScriptDemo-Jrdx.ttf') format('opentype');
 
}


body {
    font-family: 'PPMori', sans-serif;
}



nav {
    height: 18vh;
    width: 100%;
    padding: 0 17vh 0 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    z-index: 999999999999999999999999;
}

nav img {
    height: 170px;

}

nav .menu {
    backdrop-filter: blur(10px);
    background-color: #8c8c8c1a;
    padding: 14px 16px;
    border-radius: 50px;
}

nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.15vw;
    background-color: #6467744a;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
    outline: none;
    font-weight: 100;
}

nav .active {
    background-color: #3C65F6;
}

nav .social_link {
    font-family: 'PPMori ExtraLight';

}

nav .social_link a {
    font-size: 1.15vw;
    margin-right: 2.8vw;
    text-decoration: none;
    letter-spacing: 1px;
}

nav .social_link .linkedin:after {
    content: url('./assets/arrow.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    position: absolute;
    margin-top: -2px;
    height: 25px;
}
nav .social_link .github:after {
    content: url('./assets/arrow.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    position: absolute;
    margin-top: -2px;
    height: 25px;
}


/* -------------------End of Navigation Bar--------------------- */



#main {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    z-index: -999;
}

#home{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    position: relative;
}
.home_wrapper{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
 
}
.circle{
    height:60vh;
    width: 60vh;
    background-color: rgba(202, 16, 168, 0.26);
    border-radius: 50%;
    position: absolute;
    left: 55%;
    top: 60%;
    transform: translate(-50%,-50%);
    filter: blur(50px);
}
.c1{
    left: 45%;
    background-color: #3c64f637;
}

/* -----------------End of .home_wrapper------------------- */


#content{
    position: absolute;
    background-color: rgba(106, 101, 105, 0.005);
    width: 70%;
    height: 70vh;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
    letter-spacing: 1px;
    padding-top: 1vw;
}
#content .title{
    font-family: 'PPMori ExtraLight';
    font-weight: 100;
    font-size: 1.5vw;
}
#content .title span{
    font-family: 'ConeriaScriptDemo';
    font-weight: 600;
    font-size: 1.9vw;
    letter-spacing: 3px;
}

/* ----------------End of title----------------- */

#content .tag_line_h2{
    font-size: 3.2vw;
}
#content .tag_line{
    font-size: 3vw;
    font-weight: 500;
    width: 79%;
    margin: auto;
    margin-top: 3vw;
    letter-spacing: 1px;
    line-height: 4.5vw;
    color: #ffffffa0;
}


/* -------------------End of .tag_line------------------- */

#content .content_anime{
    /* background-color: aqua; */
    height: 18vh;
    width: 70%;
    margin: auto;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vw;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 0, 217, 0.322);
}
#content .content_anime img{
   width: 70%;
}



/* ---------------------End of Content--------------------- */

#projects{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    background-color: #6467748b;
}
.project_card{
    height: 90vh;
    width: 46%;
    background-color: rgba(255, 0, 0, 0.167);
    border-radius: 20px;
}

.banner{
    height: 58%;
    width: 100%;
    background-color: #3C65F6;
    border-radius: 20px;
    overflow: hidden;

}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}











