@media only screen and (max-width: 768px) {


    /* about Home  */
    #header img {
        margin-top: 13vw;
        height: 100px;
    }

    #about_content {
        width: 90%;
        flex-direction: column;
    }

    #about_content img {
        height: 100%;
        width: 100%;
    }

    #about_content .about_me {
        width: 85%;
        letter-spacing: .8px;
        line-height: 1.6vh;
        font-size: 1.2vh;

    }

    /* education   */

    #education h1 {
        font-size: 2rem;
        margin-top: 10vw;
    }

    .education-card {
        margin: 7vw auto;
        width: 80vw;
    }

    /* Skills  */
    .skills-section h2 {
        font-size: 2rem;
    }

    /* experience  */
    #experience {
        height: 70vh;
    }

    #experience h2 {
        font-size: 2rem;
    }

    .experience-card {
        margin-top: 2vw;
        width: 80vw;

    }

    /* cirtification  */
    .certifications-container h1 {
        font-size: 2rem;
    }

    .certifications-container .tag-line {
        width: 85%;
        margin-bottom: 6vh;
    }


    .filter-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }


    .certifications-grid {
        margin-bottom: 10vw;
    }
}